<!-- #main-menu -->
<div id="main-menu" role="navigation">
    <div id="main-menu-inner">
        <ul class="navigation">
            <li>
                <a href="{:url('index/index')}"><i class="menu-icon fa fa-home"></i><span class="mm-text">首页</span></a>
            </li>
            <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-archive"></i><span class="mm-text">产品管理</span></a>
                <ul>
                    <li  class="mm-dropdown">
                        <a  href="#"><span class="mm-text">线路管理</span></a>
                        <ul>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">发布线路</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">线路列表</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">目的地管理</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">出发城市</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">参团性质</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">线路设置</span></a></li>
                        </ul>
                    </li>
                    <li  class="mm-dropdown">
                        <a  href="#"><span class="mm-text">酒店管理</span></a>
                        <ul>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">发布酒店</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店列表</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店品牌</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店类型</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店房型</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店床型</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店城市</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店设置</span></a></li>
                        </ul>
                    </li>
                    <li  class="mm-dropdown">
                        <a  href="#"><span class="mm-text">签证管理</span></a>
                        <ul>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">发布签证</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">签证列表</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">签证国家</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">国家区域</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">签证类型</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">签证设置</span></a></li>
                        </ul>
                    </li>
                    <li  class="mm-dropdown">
                        <a  href="#"><span class="mm-text">景点门票</span></a>
                        <ul>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">添加门票</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">景区列表</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">景区级别</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">城市管理</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">适合人群</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">景区设置</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-barcode"></i><span class="mm-text">销售管理</span></a>
                <ul>
                    <li class="mm-dropdown">
                        <a href="#"><span class="mm-text">客户中心</span></a>
                        <ul>
                            <li>
                                <a href="#">客户资料</a>
                                <a href="#">客户交易记录</a>
                                <a href="#">客户投诉记录</a>
                                <a href="#">客户评价记录</a>
                            </li>
                        </ul>
                    </li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">订购中心</span></a></li>
                    <li  class="mm-dropdown">
                        <a  href="#"><span class="mm-text">订单管理</span></a>
                        <ul>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">旅游订单</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">酒店订单</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">景区订单</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">签证订单</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">订单补录</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">退改管理</span></a></li>
                            <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">代录订单管理</span></a></li>
                        </ul>
                    </li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">分销商销售统计</span></a></li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">供应商销售统计</span></a></li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">销售员业务统计</span></a></li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">优惠中心</span></a></li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">保险系统</span></a></li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa  fa-bar-chart-o"></i><span class="mm-text">财务结算</span></a>
                <ul>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">账户充值管理</span></a></li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">账户提现管理</span></a></li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">账户绑定管理</span></a></li>
                    <li><a tabindex="-1" href="layouts-main-menu.html"><span class="mm-text">账户交易明细</span></a></li>
                </ul>
            </li>
            <li class="mm-dropdown">
                <a href="#"><i class="menu-icon fa fa-cogs"></i><span class="mm-text">系统管理</span></a>
                <ul>
                    <li class="mm-dropdown">
                        <a  href="#"><span class="mm-text">管理权限设置</span></a>
                        <ul>
                            <li><a tabindex="-1" href="{:url('Auth/Department')}">部门设置</a></li>
                            <li><a tabindex="-1" href="{:url('Auth/Role')}">角色管理</a></li>
                            <li><a tabindex="-1" href="{:url('Auth/Staff')}">员工管理</a></li>
                        </ul>
                    </li>
                    <li><a tabindex="-1" href="{:url('System/Log')}"><span class="mm-text">系统日志</span></a></li>
                    <li><a tabindex="-1" href="{:url('System/WebSetting')}"><span class="mm-text">网站基础</span></a></li>
                    <li class="mm-dropdown">
                        <a tabindex="-1" href="JavaScript:;"><span class="mm-text">数据库管理</span></a>
                        <ul>
                            <li><a tabindex="-1" href="#">数据库备份</a></li>
                            <li><a tabindex="-1" href="#">数据库还原</a></li>
                        </ul>
                    </li>
                    <li><a tabindex="-1" href="{:url('System/PaySetting')}"><span class="mm-text">支付设置</span></a></li>
                    <!--<li><a tabindex="-1" href="{:url('System/UserSetting')}"><span class="mm-text">会员设置</span></a></li>-->
                </ul>
            </li>
        </ul> <!-- / .navigation -->
    </div>
</div><!-- / #main-menu -->